/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 20px;
}

.siteName a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

#tools a {
  text-transform: uppercase;
  text-decoration: none;
}

nav ul {
  color: #fff;
  background-color: #000;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 5px;
}

nav ul li {
  display: block;
  padding: 10px 10px;
}

.hero {
  position: relative;
  width: 100%;
  height: auto;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  top: 2%;
  left: 2%;
  right: 2%;
  padding: 2%;
  width: auto;
  max-width: 210px;
  border-radius: 5px;
}

.own-today-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0DB6D7;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  border-radius: 2px;
  text-align: center;
}

h2 {
  font-weight: 700;
  margin: auto;
  color: #0DB6D7;
}

.vehicle-features {
  list-style: none;
  padding: 0;
  padding-bottom: 20px;
  margin: 0;
}

.vehicle-features li {
  font-weight: 600;
  color: #0DB6D7;
  text-align: left;
  padding: 1px;
}

.reviews ul li {
  padding: 5px;
}

.reviews-upgrades-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upgrades-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.upgrade-item {
  text-align: center;
}

.upgrade-box {
  background-color: #0DB6D7;
  border-radius: 5px;
  padding: .75rem;
  height: 100px;
}

.upgrade-item img {
  height: auto;
}

.upgrade-item p {
  font-weight: 600;
  margin: 0;
}


@media screen and (min-width: 640px) {
  body {
    background: url('/images/site/small_check.jpg');
    background-size: cover;
  }

  #wrapper {
    max-width: 960px;
    margin: 20px auto;
    background-color: #fff;
    border: 5px solid #0DB6D7;
    padding: 20px;
    border-radius: 10px;
  }

  .reviews-section {
    order: 1;
    flex: 0 0 48%;
  }

  .upgrades-section {
    order: 0;
    flex: 0 0 48%;
  }

  .reviews-upgrades-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }
}